html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h3,
h2,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

:root {
  --header-bg: #fff;
  --menu-link: #ae1332;
}

body {
  font-family: "DM Sans", sans-serif;
}

.link:hover,
.link:focus {
  color: rgba(226, 141, 158, 0.7843137255);
}

.bg {
  background-color: #AE1332;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1216px) {
  .container {
    max-width: 1216px;
  }
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--header-bg);
}

.header-nav {
  display: flex;
}

.header-menu {
  display: flex;
  gap: 20px;
}

.header-link {
  color: var(--menu-link);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
}

.icon-center {
  display: flex;
}

.header-icon-1 {
  margin-left: 322px;
  fill: var(--menu-link);
}

.header-icon-1:hover {
  fill: rgba(226, 141, 158, 0.7843137255);
  cursor: pointer;
}

.header-icon-2 {
  margin-left: 450px;
  fill: var(--menu-link);
}

.header-title {
  margin-left: 9px;
  color: var(--menu-link);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

.hero {
  padding-top: 64px;
  padding-bottom: 150px;
}

.hero > .container {
  display: flex;
}

.hero-title {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 100;
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-family: "DM Sans", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: -2.56px;
  text-transform: uppercase;
  width: 898px;
}

.hero-img-1 {
  background-image: url(/img/hero-3.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 1053px;
  height: 702px;
  left: 500px;
  top: 120px;
  position: absolute;
}

.hero-text1 {
  margin-top: 408px;
  position: relative;
  display: inline-block;
  color: #fff;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.56px;
  width: 222px;
}

.hero-box1 {
  padding: 20px 25px 40px;
  margin-top: 44px;
  text-align: center;
  display: block;
}

.hero-box-r {
  width: 249px;
  height: 387px;
  flex-shrink: 0;
  border-radius: 500px;
  background: #a4cb66;
  background-repeat: no-repeat;
}

.hero-box-img-2 {
  background-image: url(/img/hero-4.png);
  width: 200px;
  height: 172px;
  flex-shrink: 0;
  margin-top: 61px;
}

.hero-box-h3 {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: -0.48px;
}

.hero-box-text {
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 116.667% */
  letter-spacing: -0.48px;
  text-transform: uppercase;
  width: 155px;
}

.hero-box-l {
  top: 386px;
  right: 70px;
  position: absolute;
  width: 249px;
  height: 387px;
  flex-shrink: 0;
  border-radius: 500px;
  background: #F5CE13;
  background-repeat: no-repeat;
}

.hero-box-img-3 {
  background-image: url(/img/hero-5.png);
  width: 200px;
  height: 172px;
  margin-top: 19px;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-filter {
  align-items: flex-end;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
  top: 790px;
  right: -60px;
}

.hero-filter > .item {
  flex-basis: calc((100% - 40px) / 2);
  margin-left: -25px;
  margin-top: 10px;
}

.hero-btn {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 116.667% */
  letter-spacing: -0.48px;
  text-transform: uppercase;
  display: inline-flex;
  padding: 12px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 1000px;
  border: 1px solid #fff;
  background-color: #ae1332;
}

.purchase {
  background-color: #AE1332;
}
@media screen and (min-width: 375px) {
  .purchase {
    padding-bottom: 44px;
  }
}
@media screen and (min-width: 768px) {
  .purchase {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1216px) {
  .purchase {
    padding-bottom: 81px;
  }
}

.purchase-title {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px; /* 110% */
  text-transform: uppercase;
  margin-bottom: 14px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 375px) {
  .purchase-title {
    width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .purchase-title {
    width: 624px;
  }
}
@media screen and (min-width: 1216px) {
  .purchase-title {
    width: 624px;
  }
}

.purchase-text {
  color: #FFF;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-style: normal;
  font-weight: 400;
  /* 128.571% */
}
@media screen and (min-width: 375px) {
  .purchase-text {
    width: 335px;
    font-size: 14px;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.56px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .purchase-text {
    width: 509px;
    text-align: center;
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 1216px) {
  .purchase-text {
    width: 509px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.56px;
    margin-bottom: 44px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media screen and (min-width: 375px) {
  .purchase-list {
    gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .purchase-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}
@media screen and (min-width: 1216px) {
  .purchase-list {
    display: flex;
    gap: 24px;
    flex-direction: row;
    justify-content: center;
  }
}

.purchase-list > .item {
  flex-shrink: 0;
  border-radius: 20px;
  background: #FFF;
  display: flex;
}
@media screen and (min-width: 375px) {
  .purchase-list > .item {
    width: 335px;
    height: 112px;
    padding: 20px;
  }
}
@media screen and (min-width: 768px) {
  .purchase-list > .item {
    width: 389px;
    height: 128px;
    padding: 40px 20px;
  }
}
@media screen and (min-width: 1216px) {
  .purchase-list > .item {
    width: 335px;
    height: 112px;
    padding: 40px 20px;
  }
}

.purchase-button {
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 200px;
  cursor: pointer;
}
@media screen and (min-width: 375px) {
  .purchase-button {
    font-size: 18px;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.72px;
    padding: 42px 15px;
    gap: 10px;
  }
}
@media screen and (min-width: 1216px) {
  .purchase-button {
    font-size: 18px;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.72px;
    padding: 15px 42px;
    gap: 10px;
  }
}

.purchase-item-text {
  flex-shrink: 0;
  color: #000;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.56px;
  margin-left: 14px;
}
@media screen and (min-width: 375px) {
  .purchase-item-text {
    width: 145px;
  }
}
@media screen and (min-width: 768px) {
  .purchase-item-text {
    width: 199px;
  }
}
@media screen and (min-width: 1216px) {
  .purchase-item-text {
    width: 166px;
  }
}

.btn-bg1 {
  background: #AE1332;
}

.btn-bg2 {
  background: #A1C864;
}

.btn-bg3 {
  background: #F5CE13;
}

.fruits {
  padding-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border-radius: 20px;
}
@media screen and (min-width: 375px) {
  .fruits {
    width: 335px;
    height: 476px;
  }
}
@media screen and (min-width: 768px) {
  .fruits {
    width: 704px;
    height: 476px;
  }
}
@media screen and (min-width: 1216px) {
  .fruits {
    width: 860px;
    height: 476px;
  }
}

@media screen and (min-width: 375px) {
  .products {
    padding-bottom: 80px;
    padding-top: 80px;
  }
}
@media screen and (min-width: 768px) {
  .products {
    padding-bottom: 144px;
    padding-top: 144px;
  }
}
@media screen and (min-width: 1216px) {
  .products {
    padding-bottom: 150px;
    padding-top: 150px;
  }
}

.products-h2 {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px; /* 110% */
  letter-spacing: -1.6px;
  text-transform: uppercase;
  margin-bottom: 14px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 375px) {
  .products-h2 {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .products-h2 {
    width: 624px;
  }
}
@media screen and (min-width: 1216px) {
  .products-h2 {
    width: 624px;
  }
}

.products-text1 {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.56px;
  margin-bottom: 44px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 375px) {
  .products-text1 {
    width: 547px;
  }
}
@media screen and (min-width: 768px) {
  .products-text1 {
    width: 547px;
  }
}
@media screen and (min-width: 1216px) {
  .products-text1 {
    width: 547px;
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -24px;
  margin-left: -24px;
}
.products-item {
  margin-top: 24px;
  margin-left: 24px;
  padding: 64px 47px 24px 24px;
}
@media screen and (min-width: 375px) {
  .products-item {
    flex-basis: calc((100% - 60px) / 1);
    width: 335px;
    height: 465px;
    flex-shrink: 0;
  }
}
@media screen and (min-width: 768px) {
  .products-item {
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1216px) {
  .products-item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.products-title {
  color: #fff;
  font-style: normal;
  font-weight: 700;
  /* 118.75% */
}
@media screen and (min-width: 375px) {
  .products-title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.96px;
  }
}
@media screen and (min-width: 768px) {
  .products-title {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -1.28px;
  }
}
@media screen and (min-width: 1216px) {
  .products-title {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -1.28px;
  }
}

.products-text {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  /* 133.333% */
}
@media screen and (min-width: 375px) {
  .products-text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.28px;
  }
}
@media screen and (min-width: 768px) {
  .products-text {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.36px;
  }
}
@media screen and (min-width: 1216px) {
  .products-text {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.36px;
  }
}

.products-button {
  color: #ae1332;
  font-style: normal;
  font-weight: 500;
  /* 133.333% */
  border-radius: 200px;
  background: #fff;
  border: 200px;
  margin: 24px;
}
@media screen and (min-width: 375px) {
  .products-button {
    padding: 12px 24px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.56px;
  }
}
@media screen and (min-width: 768px) {
  .products-button {
    padding: 15px 42px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.72px;
  }
}
@media screen and (min-width: 1216px) {
  .products-button {
    padding: 15px 42px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.72px;
  }
}

.products-fruit {
  width: 295px;
  height: 251px;
  flex-shrink: 0;
  margin-left: 47px;
}

.purchase-item {
  width: 389px;
  height: 465px;
  flex-shrink: 0;
  padding: 64px 49px 24px 24px;
}
.products-bg1 {
  border-radius: 20px;
  background: #f8766b;
}

.products-bg2 {
  border-radius: 20px;
  background: #edd251;
}

.products-bg3 {
  border-radius: 20px;
  background: #9dc262;
}

.products-bg4 {
  border-radius: 20px;
  background: #bfd663;
}

.products-bg5 {
  border-radius: 20px;
  background: #e93f29;
}

.products-bg6 {
  border-radius: 20px;
  background: #db4f4b;
}

.products-bg7 {
  border-radius: 20px;
  background: #9b5366;
}

.products-bg8 {
  border-radius: 20px;
  background: #f47f4c;
}

.products-bg9 {
  border-radius: 20px;
  background: #98b37e;
}

.products-circle {
  width: 114px;
  height: 114px;
  flex-shrink: 0;
  background-color: #9DC262;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-top: 44px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.products-text2 {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-left: 36px;
}

.nutrition {
  background-color: #ae1332;
  position: relative;
}

.nutrition > .container {
  display: flex;
}

.nutrition-h2 {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  width: 740px;
  position: absolute;
  right: 230px;
  top: -30px;
}
@media screen and (min-width: 375px) {
  .nutrition-h2 {
    width: 335px;
    font-size: 32px;
    line-height: 32px; /* 100% */
    letter-spacing: -1.28px;
  }
}
@media screen and (min-width: 768px) {
  .nutrition-h2 {
    width: 648px;
    font-size: 54px;
    line-height: 54px; /* 100% */
    letter-spacing: -2.16px;
  }
}
@media screen and (min-width: 1216px) {
  .nutrition-h2 {
    width: 740px;
    font-size: 64px;
    line-height: 64px; /* 100% */
    letter-spacing: -2.56px;
  }
}

.nutrition-melon {
  width: 792px;
  height: 502px;
  border-radius: 20px;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
}

.nutrition-blueberry {
  width: 400px;
  height: 502px;
  border-radius: 20px;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
  margin: 24px;
}

.nutrition-text {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.56px;
  width: 492px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  display: flex;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  position: relative;
}

.input {
  width: 292px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid #FFF;
  opacity: 0.3;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.56px;
  padding: 24px;
}

.btn {
  display: inline-flex;
  padding: 15px 35px;
  align-items: center;
  gap: 15px;
  border-radius: 100px;
  background: #9DC162;
  border: none;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.56px;
  text-transform: capitalize;
  position: absolute;
  left: 710px;
}

.footer {
  padding: 80px 32px;
}

.footer > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-center--footer {
  display: flex;
  justify-content: center;
}

.footer-h2 {
  color: #AE1332;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

.footer-list {
  display: flex;
  gap: 27px;
  color: #AE1332;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.56px;
}

.social-list {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.social-icon {
  width: 44px;
  height: 44px;
}

.social-link {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #AE1332;
  fill: #AE1332;
  background-color: white;
  padding: 8px;
}
.social-link:hover, .social-link:focus {
  fill: rgba(226, 141, 158, 0.7843137255);
  border: rgba(226, 141, 158, 0.7843137255);
}

.footer-email {
  display: block;
  margin-bottom: 20px;
  color: #AE1332;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  text-transform: uppercase;
}
.footer-email:hover, .footer-email:focus {
  color: rgba(226, 141, 158, 0.7843137255);
}

.footer-adress {
  display: flex;
  color: #AE1332;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.36px;
  width: 180px;
}
.footer-adress:hover, .footer-adress:focus {
  color: rgba(226, 141, 158, 0.7843137255);
}

.icon-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer-icon-1 {
  fill: var(--menu-link);
}

.footer-icon-2 {
  fill: var(--menu-link);
}

.footer-title {
  color: var(--menu-link);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  margin-left: 8px;
}/*# sourceMappingURL=style.css.map */