.header {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--header-bg);
}

.header-nav{
  display: flex;
  justify-content: space-between;
}

.header-menu{


    @media screen and (min-width: 375px) {
       display: none;
      }
    
      @media screen and (min-width: 768px) {
    display: flex;
     gap: 16px;
      }
    
      @media screen and (min-width: 1216px) {
    display: flex;
        gap: 20px;
      }
}

.header-link {
  color: var(--menu-link);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;


  @media screen and (min-width: 375px) {

  }

  @media screen and (min-width: 768px) {
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.56px;
  }

  @media screen and (min-width: 1216px) {
    line-height: 1.28;
    letter-spacing: -0.56px;
  }
}

.icon-center{
  display: flex;
}

.header-icon-1{
  // margin-left: 322px;
  fill: var(--menu-link);

  @media screen and (min-width: 375px) {
    // margin-left: 20px;
  }

  @media screen and (min-width: 768px) {
    // margin-left: 94px;
  }

  @media screen and (min-width: 1216px) {
    // margin-left: 322px;
  }
}

.header-icon-1:hover {
  fill: #e28d9ec8;
  cursor: pointer;
}

.header-icon-2{

fill: var(--menu-link);

  @media screen and (min-width: 375px) {
     display: none;
    }
  
    @media screen and (min-width: 768px) {
display: block;

    }
  
    @media screen and (min-width: 1216px) {
    display: block;
  
    }
}

.header-title{
  margin-left: 9px;
  color: var(--menu-link);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.28;
    letter-spacing: -0.56px;
    text-transform: uppercase;

    
  @media screen and (min-width: 375px) {
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.56px;
    text-transform: uppercase;
  }

  @media screen and (min-width: 768px) {
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.56px;
    text-transform: uppercase;
  }

  @media screen and (min-width: 1216px) {
    line-height: 1.28;
    letter-spacing: -0.56px;
    text-transform: uppercase;
  }
}
