.products {

    @media screen and (min-width: 375px) {
      padding-bottom: 80px;
      padding-top: 80px;
    }
    
    @media screen and (min-width: 768px) {
      padding-bottom: 144px;
      padding-top: 144px;
    }
    
    @media screen and (min-width: 1216px) {
      padding-bottom: 150px;
      padding-top: 150px;
    }
}

.products-h2 {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);

  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px; /* 110% */
  letter-spacing: -1.6px;
  text-transform: uppercase;

  margin-bottom: 14px;
  margin-left: auto;
  margin-right: auto;

  
  @media screen and (min-width: 375px) {
width: 210px;
  }
  
  @media screen and (min-width: 768px) {
    width: 624px;
  }
  
  @media screen and (min-width: 1216px) {
    width: 624px;
  }
}

.products-text1 {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.56px;

  margin-bottom: 44px;
  margin-left: auto;
  margin-right: auto;

   
  @media screen and (min-width: 375px) {
    width: 547px;
      }
      
      @media screen and (min-width: 768px) {
        width: 547px;
      }
      
      @media screen and (min-width: 1216px) {
        width: 334px;

      }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -24px;
  margin-left: -24px;

  @media screen and (min-width: 375px) {
   
      }
      
      @media screen and (min-width: 768px) {
     
      }
      
      @media screen and (min-width: 1216px) {
       

      }

}

.products-item {
  flex-basis: calc((100% - 30px * 3) / 3);
  margin-top: 24px;
  margin-left: 24px;
  padding: 64px 47px 24px 24px;

  @media screen and (min-width: 375px) {
   
  }
  
  @media screen and (min-width: 768px) {
 
  }
  
  @media screen and (min-width: 1216px) {
   

  }
}

.products-title {
  color: #fff;
  font-style: normal;
  font-weight: 700;
  /* 118.75% */
 

  @media screen and (min-width: 375px) {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.96px;
  }
  
  @media screen and (min-width: 768px) {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -1.28px;
  }
  
  @media screen and (min-width: 1216px) {
   
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -1.28px;
  }
}

.products-text {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  /* 133.333% */


  @media screen and (min-width: 375px) {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.28px;
  }
  
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.36px;
  }
  
  @media screen and (min-width: 1216px) {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.36px;
  }
}

.products-button {
  // color: #ae1332;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.72px;


  border-radius: 200px;
  background: #fff;
  border: 200px;
  margin: 24px;

  @media screen and (min-width: 375px) {
   padding: 12px 24px;
  }
  
  @media screen and (min-width: 768px) {
    padding: 15px 42px;
  }
  
  @media screen and (min-width: 1216px) {
    padding: 15px 42px;
  }
}

.products-fruit {
  width: 295px;
  height: 251px;
  flex-shrink: 0;
  margin-left: 47px;

  @media screen and (min-width: 375px) {
   
  }
  
  @media screen and (min-width: 768px) {
 
  }
  
  @media screen and (min-width: 1216px) {
   

  }
}

.purchase-item {
  width: 389px;
  height: 465px;
  flex-shrink: 0;
  padding: 64px 49px 24px 24px;

  @media screen and (min-width: 375px) {
   
  }
  
  @media screen and (min-width: 768px) {
 
  }
  
  @media screen and (min-width: 1216px) {
   

  }
}
.products-bg1 {
  border-radius: 20px;
  background: #f8766b;

  
}
.products-bg2 {
  border-radius: 20px;
  background: #edd251;
}

.products-bg3 {
  border-radius: 20px;
  background: #9dc262;
}

.products-bg4 {
  border-radius: 20px;
  background: #bfd663;
}

.products-bg5 {
  border-radius: 20px;
  background: #e93f29;
}

.products-bg6 {
  border-radius: 20px;
  background: #db4f4b;
}

.products-bg7 {
  border-radius: 20px;
  background: #9b5366;
}

.products-bg8 {
  border-radius: 20px;
  background: #f47f4c;
}

.products-bg9 {
  border-radius: 20px;
  background: #98b37e;
}
.products-circle{
 width: 114px;
height: 114px;
flex-shrink: 0;
background-color: #9DC262;
border-radius: 50%;
display: flex;
justify-content: center;
margin-top: 44px;
align-items: center;
margin-right: auto;
margin-left: auto;
}
.products-text2{
    color: #FFF;
text-align: center;
text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 133.333% */
letter-spacing: -0.72px;
text-transform: uppercase;
margin-left: 36px ;
}